# Server Port
PORT=5000

# Flag variable: 'true' for SQL (Neon PostgreSQL), 'false' for NoSQL (MongoDB Atlas)
USE_SQL=false

# MongoDB Atlas (NoSQL) Connection URI
MONGODB_URI=mongodb+srv://technicalrustic:bb_fP3f5FBFFjWA@cluster0.jdxpnci.mongodb.net/todolist_mern?retryWrites=true&w=majority&appName=Cluster0

# Neon DB / PostgreSQL (SQL) Connection URI
DATABASE_URL=postgresql://neondb_owner:npg_2CTnjU0IKYmi@ep-square-darkness-axoxzju8-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Local SQLite path (fallback if DATABASE_URL is not set and USE_SQL=true)
SQL_FILE_PATH=./todos.sqlite
